<!DOCTYPE html>


<div data-ng-if="form.isOpen()">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="sensor" translate>Sensor:</label>
            <select id="sensor" data-ng-model="form.values.sensor" class="form-control">
                <option value="acc" translate>Accelerometer</option>
                <option value="snd" translate>Sound</option>
                <option value="mag" translate>Magnetic field</option>
                <option value="gyr" translate>Gyroscope</option>
                <option value="orn" translate>Orientation</option>
                <option value="pre" translate>Pressure</option>
                <option value="lig" translate>Light</option>
                <option value="ambtmp" translate>Ambient temperature</option>
                <option value="relhum" translate>Relative humidity</option>
            </select>
        </div>
        <div class="form-group">
            <label for="rate" translate>Samples / second</label>
            <input class="form-control" id="rate" type="number" step="any" placeholder="Sampling rate"
                   data-ng-model="form.values.rate"/>
        </div>
        <p class="btn-group">

            <button class="btn btn-default" data-ng-disabled="form.okButtonDisabled()"
                    data-ng-click="form.save()" translate>Save</button>
            <button class="btn btn-default"
                    data-ng-disabled="form.resetButtonDisabled()"
                    data-ng-click="form.cancel()" translate>Cancel</button>
        </p>
    </form>
</div>
<div data-ng-if="!form.isOpen()">
    <div data-ng-if="isNew">
        <button class="btn btn-default" data-ng-click="form.open()" translate>Add sensor input</button>
    </div>
    <div data-ng-if="!isNew">
        <p>
            <span data-ng-switch="sensorInput.sensor">
                <span data-ng-switch-when="snd">Sensor: <b>Sound</b> ({{sensorInput.rate}} samples/second).</span>
                <span data-ng-switch-when="acc">Sensor: <b>Acceleration</b> ({{sensorInput.rate}} samples/second).</span>
                <span data-ng-switch-when="mag">Sensor: <b>Magnetic field</b> ({{sensorInput.rate}} samples/second).</span>
                <span data-ng-switch-when="gyr">Sensor: <b>Gyroscope</b> ({{sensorInput.rate}} samples/second).</span>
                <span data-ng-switch-when="orn">Sensor: <b>Orientation</b> ({{sensorInput.rate}} samples/second).</span>
                <span data-ng-switch-when="pre">Sensor: <b>Pressure</b> ({{sensorInput.rate}} samples/second).</span>
                <span data-ng-switch-when="lig">Sensor: <b>Light</b> ({{sensorInput.rate}} samples/second).</span>
                <span data-ng-switch-when="ambtmp">Sensor: <b>Ambient temperature</b> ({{sensorInput.rate}} samples/second).</span>
                <span data-ng-switch-when="relhum">Sensor: <b>Relative humidity</b> ({{sensorInput.rate}} samples/second).</span>
            </span>
        </p>

        <button class="btn btn-default" data-ng-click="form.open()" translate>Edit</button>
        <button class="btn btn-default" data-ng-click="deleteInput()" translate>Delete sensor
            input
        </button>
    </div>
</div>

