<span data-siw-menu-item data-menu-linked-state="'project.view.home'" data-menu-label="{{'Outline'|translate}}"></span>
<span data-siw-menu-item data-menu-linked-state="'project.view.details'" data-menu-label="{{'Details'|translate}}"></span>
<span data-siw-menu-item data-menu-linked-state="'project.view.data-list'" data-menu-label="{{'Data'|translate}}"></span>
<span data-ng-if="projectData.project.activity.profile.geolocated" data-siw-menu-item data-menu-linked-state="'project.view.data-map'" data-menu-label="{{'Map'|translate}}"></span>
