{
  "#": "Used in 'npm run build' & 'bin/replace.js'",

  "_GOOGLE_MAP_KEY_": "EDIT ME / manage via, https://cloud.google.com/console/google/maps-apis/overview",
  "_GOOGLE_ANALYTICS_ID_": "UA-55775559-1",
  "_GOOGLE_GTM_ID_": "GTM-K3DZ53"
}
