
<div class="footer-content">

  <p>
    <a href="https://www.open.ac.uk" title="Copyright &copy; 2014-2019 The Open University">&copy; The Open University</a>
    |
    <a title="Privacy policy for the nQuire-it website &amp; Sense-it application" href="/#/privacy">Privacy policy</a>
  </p>

  <div id="lang" class="lang-switch" data-ng-if="cfg.lang_switch === 'bottom'">
    <a data-ng-repeat="(lang, label) in cfg.langs" data-ng-href="{{lang}}#{{location.url()}}" hreflang="{{lang}}"
        title="{{'Choose language:' | translate}} {{label | translate}} ({{ lang }})">{{label | translate}}<i class="fa fa-x-language fa-flag"></i></a>
  </div>

</div>
