

<style>
  .main-content-section { min-height: 1110px; x-min-height: 20em; }
  #footer .footer-content { border-top: 2px solid #bbb; color: #999; font-size: .9em; padding: 10px 20px 20px; margin-top: 3em; }
  #footer a { display: inline-block; margin: 0 .3em; }
</style>


<div class="footer-content">

  <p>
    <a href="https://www.open.ac.uk" title="Copyright &copy; 2014-2019 The Open University">&copy; The Open University</a>
    |
    <a title="Privacy policy for the nQuire-it website &amp; Sense-it application"
      href="/#/privacy">Privacy policy</a>

    <!--
    <a title="Privacy policy for nQuire-it website &amp; Sense-it application. 4th September 2014. PDF format"
      href="http://www.nquire-it.org/media/nquire-it-privacy-policy.pdf" >Privacy policy</a>
    -->

    <!-- <a href="http://www.open.ac.uk/privacy" title="Privacy policy for The Open University">Privacy notice</a> -->
  </p>

  <div id="lang" class="lang-switch" data-ng-if="cfg.lang_switch === 'bottom'">
    <a data-ng-repeat="(lang, label) in cfg.langs" data-ng-href="{{lang}}#{{location.url()}}" hreflang="{{lang}}"
        title="{{'Choose language:' | translate}} {{label | translate}} ({{ lang }})">{{label | translate}}<i class="fa fa-x-language fa-flag"></i></a>
  </div>

</div>
