<!doctype html>

<style>
    .privacy-content iframe { border: 1px solid #ccc; border-radius: 6px; height: 1600px; width: 100%; }
</style>


<div class="content-sidebar">
    <div class="privacy-container about-container">
        <div class="privacy-header about-header" role="heading" aria-level="1" translate>Privacy policy</div>
        <div class="privacy-content" data-X-ng-bind-html="txt.about" lang="en">

            <iframe
              title="Privacy policy for nQuire-it website &amp; Sense-it application. 4th September 2014. PDF format"
              src="http://www.nquire-it.org/media/nquire-it-privacy-policy.pdf"
            ></iframe>

        </div>
    </div>
</div>


<div class="sidebar-right" data-siw-sidebar-toggle>
    <div class="sidebar-content" data-ng-include="'partials/projects/projects-sidebar.html'"></div>
</div>
