<!doctype html>

<div class="content-sidebar">
    <div class="privacy-container about-container">
        <div class="privacy-header about-header" role="heading" aria-level="1" translate>Privacy Policy</div>
        <div class="privacy-content" data-X-ng-bind-html="txt.about" lang="en">

        <h1>nQuire-it website &amp; Sense–it application</h1>

        <p class="revised">Revised: <time datetime="2014-09-04">4th September 2014</time></p>

        <p>This Privacy Policy provides details on how we may collect information from you
        and how we may use that information. It describes how the nQuire-it website on
        <a href="http://www.nquire-it.org">www.nquire-it.org</a> (the "<strong>Website</strong>")
        and the Sense-it app available in Google Play
        (<a href="https://play.google.com/store/apps/details?id=org.greengin.sciencetoolkit&amp;hl=en_GB"
        >https://play.google.com/store/apps/details?id=org.greengin.sciencetoolkit&amp;hl=en_GB</a>)
        (the "<strong>Application</strong>") collect and use your personal information and the rights
        and options available to you.
        Please read this Privacy Policy carefully – by using the Application and the Website,
        you agree to its terms (including as amended from time to time).
        If, for any reason, you do not agree to the terms of this Privacy Policy,
        please stop using the Application and the Website immediately.</p>

        <h2 id="part-1">1 About Us</h2>

        <p>In this Privacy Policy, references to “we” or “us” are to The Open University, a company
        incorporated by Royal Charter in England and Wales. Our main office is at Walton Hall,
        Milton Keynes MK7 6AA, email: <a href="mailto:data.protection@open.ac.uk">data.protection@open.ac.uk></a>.
        If you wish to contact us, send a letter to the above address or an email to
        <a href="mailto:data.protection@open.ac.uk">data.protection@open.ac.uk></a>.</p>

        <h2 id="part-2">2 Use of the Application and Website</h2>

        <p>This Privacy Policy applies only to your use of the Application and Website. The Website
        may contain links to other websites. We are not responsible for any information gathered by
        third parties websites. You should consult those other parties’ privacy policies as appropriate
        and applicable.</p>

        <h2 id="part-3">3 Legal Notice</h2>

        <p>We will at all times only collect and process your personal information in accordance with
        the Data Protection Act 1998, the Privacy and Electronic Communications (EC Directive)
        Regulations 2003 and any other applicable data protection legislation.</p>

        <h2 id="part-4">4 Collection of information</h2>

        <ul>
        <li><p>4.1 When you download the Application from the Google Play store or access the Website
        via any means, find out, take part or create science investigations, register to the Website,
        download data to your mobile device, upload data to the Website using the Application, or
        contact us, we may collect, store and use certain personal information that you voluntarily
        disclose to us including email address, name, age, geographical location, IP address, browser
        type and version, operating system, length of visit, page views, and website navigation and
        any other information you choose to disclose.</p></li>

        <li><p>4.2 When registering to the Website we ask for your username, email address and password.
        As part of your profile you may also provide your location, gender and any other information
        that will help others get to know you. We will also store the data collected using the
        Application and send to the Website as well as the data uploaded directly to the Website
        including the development of new science investigations you decide to make public. If you
        contact us, we may also keep a record of that correspondence.</p></li>

        <li><p>4.3 We may also collect data relating to your visits to the Website that cannot identify you
        but records your use of our Website, for example, details of how long you have used the
        Website and for what purposes.</p></li>

        <li><p>4.4 We may also collect geo-location information when using the Application and your
        computer’s IP address in order to help us tailor the service to your location.</p></li>
        </ul>

        <h2 id="part-5">5 Use of Your Information</h2>

        <ul>
        <li><p>5.1 By accessing the Website and uploading data to it using the Application, you agree
        that your information may be used by us for any of the following purposes:</p>

        <ul>
        <li>(a) to provide, maintain, protect and improve the quality of the Website and the
        Application, including by conducting anonymised market research, and to protect us and our users;</li>
        <li>(b) to provide you with a personalised browsing experience when using the Website and the Application;</li>
        <li>(c) to manage your profile account that you hold with us; and</li>
        <li>(d) to comply with legal and regulatory requirements.</li>
        </ul>
        </li>

        <li><p>5.2 We may use your email address to send you notices and updates about the Application and the Website.</p></li>
        </ul>

        <h2 id="part-6">6 Storage of Information</h2>

        <ul>
        <li><p>6.1 All information is stored on our secure servers. When you register, we will ask you to
        choose a password which enables you to access the Website and download data to your
        mobile device using the Application. You are responsible for keeping this password
        confidential. We should never share this password with anyone, otherwise you will not be protected.</p></li>

        <li><p>6.2 We have put in place technical and organisational security measures to prevent the loss
        or unauthorised access of your personal information. However, whilst we have used our best
        efforts to ensure the security of your data, please be aware that we cannot guarantee the
        security of information transmitted over the Internet.</p></li>
        </ul>

        <h2 id="part-7">7 Your Rights</h2>

        <ul>
        <li><p>7.1 You have the right to contact us in order to find out what information we hold about
        you (please note that a £10 fee will be payable) or to access, cancel or correct any
        information that we hold about you.</p></li>

        <li><p>7.2 You can edit your personal details via your profile page whenever you wish.</p></li>

        <li><p>7.3 If you have any privacy-related questions or unresolved problems, you may contact us
        using the information provided below.</p></li>

        <li><p>7.4 The Website may, from time to time, contain links to and from the websites of third
        parties. If you follow a link to any of these websites, please note that these websites have
        their own privacy policies and that we do not accept responsibility or liability of any of these
        policies. Please check these policies before you submit any personal information to these
        websites.</p></li>
        </ul>

        <h2 id="part-8">8 Updating this Privacy Policy</h2>

        <p>We may update or amend this Privacy Policy from time to time, to comply with law or to
        meet our changing business requirements, without notice to you. Any updates or amendments
        will be posted on the Website. By continuing to access the Website or using the Application
        you agree to be bound by the terms of these updates and amendments.</p>

        <h2 id="part-9">9 Contacting us</h2>

        <p>If you have any questions, comments or complaints about this Privacy Policy, please contact
        us using the details below:</p>

        <ul>
        <li><address>The Open University,
        Walton Hall,
        Milton Keynes
        MK7 6AA
        UK.</address></li>

        <li><p>Email: <a href="mailto:data.protection@open.ac.uk">data.protection@open.ac.uk</a></p></li>
        </ul>

        <h2 id="part-10">Privacy policy Sense-it application [Short version]</h2>

        <p>The Sense-it app and all linked pages (nquire-it.org.uk), are owned and operated by The
        Open University, UK a company incorporated by Royal Charter in England and Wales and is
        accessed by you under the Privacy policy described in this document.</p>

        <p>Please read this policy carefully before using the services. By accessing the mobile
        application, viewing any content or using any services available on the application you are
        agreeing to be bound by this policy which governs our relationship with you in relation to the
        application. If you disagree with any part of the terms then you may not access the application.</p>

        <p class="pdf-link"><a
          title="Privacy policy for nQuire-it website &amp; Sense-it application. 4th September 2014. PDF format"
          href="http://www.nquire-it.org/media/nquire-it-privacy-policy.pdf" rel="nofollow"
        >Privacy policy, in PDF format</a>.</p>

        <!-- <a href="http://www.open.ac.uk/privacy" title="Privacy policy for The Open University">Privacy notice</a> -->

        </div>
    </div>
</div>


<div class="sidebar-right" data-siw-sidebar-toggle>
    <div class="sidebar-content" data-ng-include="'partials/projects/projects-sidebar.html'"></div>
</div>
