@import '../variables/dimensions';
@import '../variables/colors';
@import '../layout/basic-header';

.about-container {
  margin: 0;

  div[ role = heading ] { // Was: .about-header {
    @include basic-header;
  }

  h1 { font-size: 2.2rem; }

  h2 { font-size: 1.9rem; }

  abbr,
  time {
    border-bottom: 1px dotted gray;
  }

  .revised {
    font-style: italic;
    margin: 0 0 20px;
  }

  .about-content {
    padding: $dim-common-margin;
    background: $color-light-background;

    p {
      margin: $dim-common-margin 0;
    }

    .about-logos {
      margin-top: $dim-common-margin;
      text-align: center;

      a img {
        margin: 0 $dim-common-small-margin;
        padding: 7px;
        background: $color-lighter-background;
        border: 2px solid transparent;
        border-radius: 4px;

        &[ src *= about_nt ] {
          padding: 11px 7px;
        }
      }

      a:focus img,
      a:hover img {
        border-color: $color-border;
        transition: all 0.8s;
      }
    }
  }
}

.privacy-content {
  .pdf-link {
    display: none;
  }
}
