@import '../variables/dimensions';
@import '../variables/colors';
@import '../layout/basic-header';


input:invalid,
input.ng-invalid {
  //border-color: orange;
}


.admin-page {
  padding: 0 $dim-common-margin;

  .btn-xs {
    padding: 2px 6px;
    //Was: padding: 1px 5px;
  }

  .admin-header {
    @include basic-header;
  }

  .admin-content {
    padding: $dim-common-small-margin;
    background: $color-light-background;
  }

  .admin-reported {
    .admin-reported-menu {
      margin-bottom: 20px;

      > div {

        display: inline-block;
        margin-right: 20px;

        a.selected {
          font-weight: bold;
          color: gray;
        }
      }
    }
  }


  // Translate help/about pages [Bug: #6]
  .admin-page-texts {

    & > button {
      float: right;
    }

    .row-add-form,
    .row-translate {
      //tr.row-lang-el {
      //&[ data-row-lang != 'en' ] {
      display: none;
    }

    table tr .flag-icon {
      display: block;
      width: 1.3333em;
      margin: 0 auto;
      cursor: help;
    }

    .flag-list {
      display: inline-block;
      margin: 0 6px;
      float: right;

      .flag-icon {
        margin: 0 3px;
        cursor: help;
      }
    }
  }

  .admin-page-filters,
  .admin-page-texts {

    tbody th {
      font-weight: normal;

      b {
        font-size: .85em;
        display: block;
        line-height: 1.28em;
      }
    }

    .row-add-form {
      table {
        width: 100%;

        td {
          padding: 0 6px 0 0;
        }
      }
    }

    .key,
    .col-btn {
      width: 70px;

      input {
        padding: 6px 1px;
        font-size: .94em;
      }
    }
    .value {
      width: 87%;
    }
  }

  .admin-page-filters table {
    .row-add-form {
      display: table-row;
    }

    tr[ data-ng-repeat ] td div {
      padding: 0 4px;

      &.btn-group {
        padding: 0;
      }
    }

    td {
      vertical-align: top;
    }

    //Was: button[ ng-click *= delete ] (scss-lint)
    [ ng-click *= delete ] {
      color: $color-dark-orange;
    }
  }

  .admin-page-filters,
  .admin-page-projects {

    input {
      padding: 6px 4px;
      font-size: .94em;
    }

    [ ng-if *= error ],
    [ ng-if *= invalid ],
    [ ng-switch *= formError ] p {
      color: $color-form-error;
      margin: 5px 2px;
      line-height: 1.25;
      font-size: .98em;
    }
  }

  .admin-page-projects {

    input, button {
      margin-top: 4px;
    }

    [ ng-if *= error ] {
      max-width: 16em;
    }
  }


  //Was: button[ ng-click *= footer ]
  [ ng-click *= footer ] {
    margin: 0 8px;
  }

  &.error-unauthorized {
    text-align: center;
  }
}


.admin-count {
  display: inline-block;
  background: $color-light-background-b;
  border: 1px solid $color-border;
  border-radius: 3px;
  padding: 5px 12px;
  margin: 2px 0;

  i {
    display: inline-block;
    margin: 0 8px 0 3px;
    min-width: 1.7em;
    font-style: normal;
    font-size: 1.2em;
  }
}
