@import "basic-header";
@import "../variables/dimensions";
@import "../variables/colors";


input:invalid, input.ng-invalid {
  //border-color: orange;
}


.admin-page {
  padding: 0 $dim-common-margin;

  .btn-xs {
    padding: 2px 6px;
    //Was: padding: 1px 5px;
  }

  .admin-header {
    @include basic-header;
  }

  .admin-content {
    padding: $dim-common-small-margin;
    background: $color-light-background;
  }

  .admin-reported {
    .admin-reported-menu {
      margin-bottom: 20px;

      > div {

        display: inline-block;
        margin-right: 20px;

        a.selected {
          font-weight: bold;
          color: gray;
        }
      }
    }
  }


  // Translate help/about pages [Bug: #6]
  .admin-page-filters,
  .admin-page-texts {
    & > button {
      float: right;
    }

    tbody th {
      font-weight: normal;

      b {
        font-size: .85em;
        display: block;
        line-height: 1.28em;
      }
    }

    tr.row-add-form,
    tr.row-lang-el {
      //&[ data-row-lang != 'en' ] {
      display: none;
    }

    .row-add-form {
      table {
        width: 100%;

        td {
          padding: 0 6px 0 0;
        }
      }
    }

    .key,
    .col-btn {
      width: 70px;

      input {
        padding: 6px 1px;
        font-size: .94em;
      }
    }
    .value {
      width: 87%;
    }
  }

  .admin-page-filters table {
    tr.row-add-form {
      display: table-row;
    }

    td {
      vertical-align: top;

      [ ng-if *= error ],
      [ ng-if *= invalid ],
      [ ng-switch *= formError ] p {
        color: darken( $color-dark-orange, 4% );
        margin: 5px 2px;
      }
    }

    button[ ng-click *= delete ] {
      color: $color-dark-orange;
    }

    .col-btn {
      width: 1px;
    }
    .key {
      width: 41%;
      //Was: width: 248px;
    }
    .value {
      width: 40%
      //width: 72%;
    }
  }


  .admin-page-projects {

    .col-filters {
      min-width: 12em;
    }

    input.filters {
      padding: 6px 1px;
      font-size: .94em;
    }

    input, button {
      margin-top: 4px;
    }
  }


  &.error-unauthorized {
    text-align: center;
  }
}
