
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//Was: @import '../../bootstrap-sass-3.1.1/vendor/assets/stylesheets/bootstrap';

#page-background {
  background: url('images/background.png') repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  #page-background-center {
    @extend .container;
    background: $color-lighter-background;
    height: 100%;
  }
}
