@import "../variables/dimensions";
@import "../variables/colors";
@import "../text/text-styles";

div#header {
  padding: $dim-header-margin-top $dim-header-margin-left $dim-header-margin-bottom $dim-header-margin-right;
  height: $dim-header-height;
  border-bottom: solid $color-dark-grey $dim-header-border-bottom-width;
  background: white;

  div#header-content {
    @extend .container;
    height: 100%;

    position: relative;

    div#logo-container {
      position: absolute;
      top: 42px;

      p {
        @include text-subtitle;
        margin: 0;
      }
    }

    div#header-right-panel {
      position: absolute;
      top: 0px;
      right: 0px;

      div#header-top-box-container {

        div#header-menu {
          vertical-align:top;
          display: inline-block;
          line-height: $dim-header-search-box-height;

          a {
            margin-right: $dim-header-menu-item-margin;
          }
        }

        div#header-search-form-container {
          width: $dim-header-search-box-width;
          display: inline-block;

          #header-search-box,
          #header-search-submit {
            border: 1px solid $color-header-search-box;
            border-radius: 0;
            height: $dim-header-search-box-height;

            &:hover,
            &:focus {
              border-color: $color-header-search-focus;
            }
          }

          #header-search-submit {
            background: $color-header-search-box;
            color: white;
            padding: 2px 8px;

            &:hover,
            &:focus {
              background: $color-header-search-focus;
            }
          }
        }
      }

      div#header-profile-panel {
        position: absolute;
        right: 0px;
        top: $dim-header-search-box-height + $dim-common-small-margin;

        div#header-profile-username-block {
          @include text-header-profile;
          display: inline-block;
        }
      }
    }
  }
}
[ data-lang_switch = top ] #header {
  // Above -- height: 145px;
  //Was: height: 170px;
}



// Accessibility fixes [Bug: #1]
::-webkit-input-placeholder {
  color: $color-header-search-box;
}
::-moz-placeholder {  // Firefox 19+
  color: $color-header-search-box;
}
:-ms-input-placeholder {
   color: $color-header-search-box;
}
::-webkit-input-placeholder:hover {
  //?? color: $color-header-search-focus;
}



// Internationalization/ localization/ I18n / translation [Bug: #3]
#footer .lang-switch,
#header .lang-switch {
  clear: both;
  //margin: 5px 0;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 1.05em;
    min-width: 7em;
    border: 1px solid $color-header-search-box;
    border-radius: 0;
    background: #fff;
    padding: 3px 16px;
    text-align: center;
    cursor: pointer;

    position: relative;
    top: -8px;
    margin-left: 16px;

    option {
      //font-size: 1.5em;
      //padding: 3px 10px;
    }
  }

  a {
    display: inline-block;
    margin-right: 12px;
    //font-size: 0.88em;
    //word-spacing: -0.12em;

    i {
      font-size: 1.1em;
      display: inline-block;
      padding-left: 2px;
      color: #444;
    }
  }
}
#XX-header .lang-switch {
  position: absolute;
  right: -10px;
  // Space for the "logged in" block!
  top: 128px;
  //Was: top: 90px;

  @media (max-width: 605px) {
    //Was: top: 108px;
  }
}


// Site/ approval/ test server message [Bug: #5][Bug: #9]
#site-message,
#approval-msg {
  text-align: center;
  background: #fdfdfd;
  border: 2px solid $color-orange;
  color: $color-dark-orange;
  padding: 3px;
  font-size: 1.13em;

  p {
    margin: .4em 0;
  }
}
[ data-site-message ] div#header {
  border-bottom: 0;
}
