@import '../variables/dimensions';

html,
body,
#main {
  height: 100%;
}

html {
  overflow-y: scroll;
}

.ng-show {
  display: block !important;
}
table tr.ng-show {
  display: table-row !important;
}


#main {
  position: relative;
  .main-content-section {

    .main-content {
      height: 100%;
      background: $color-lighter-background;
      @extend .container;
      padding: $dim-common-margin 0 0 0;
      position: relative;
    }
  }

}


#footer {

  .footer-content {
    //@extend .container-fluid;
    @extend .container;
    //padding: $dim-common-margin 0 0 0;

    @media (min-width: $screen-md-min) {
      padding: 0 $dim-common-small-margin $dim-common-margin $dim-common-margin;
    }
  }
}


.admin-page.error-unauthorized p,
.error-not-found {
  margin: 1.2em 0;
  //Or, font-size: 1.6rem;
  font-size: 1.15em;
}
