/*!
  Language-switcher & language-specific adjustments.
*/


// GREEK language-specific adjustments.
[ data-lang_ui = el ] {

  .project-item .project-item-text-container {
    min-height: 228px;
    height: auto;
    //Was: height: 190px;
  }

  .project-item .project-item-text-container .project-item-author {
    line-height: 1.18em;
  }

  #header,
  .sidebar-right,
  .project-item .project-item-text-container .project-item-author {
    letter-spacing: -0.02em;
    word-spacing: -0.015em;
  }

  #header #logo-container {
    letter-spacing: 0;
    word-spacing: 0;
  }

  #header #header-content #header-right-panel #header-top-box-container #header-menu a {
    margin-right: 17px;
    //was: margin-right: 20px;
  }
}


//End.
