
<div ng-controller="AdminFiltersCtrl" class="admin-page-filters">

  <div class="admin-help">
    <p translate ><em>Tags</em> allow you to group related nQuire-it missions.
      They will appear in the right side-bar on the home page, and should be used sparingly.
      Check below to see if your tag already exists, before creating a new one.
    </p>
  </div>
  <!-- https://en.support.wordpress.com/posts/categories-vs-tags/ -->


<form name="editForm" ng-submit="submit()">

  <table class="table table-striped">
      <colgroup>
        <col width="40%" class="x-key">
        <col width="35%" class="x-value">
        <col width="15%" class="x-col-btn">
      </colgroup>
      <thead>
      <tr>
          <th translate>Label</th>
          <th translate>Tag-term</th>
          <th ></th>
      </tr>
      </thead>
      <tbody>


      <tr class="row-add-form">
          <td><input name="addLabel" class="form-control" data-ng-model="new_filter.label"
              placeholder="{{'Label, eg. Greek Schools missions' | translate}}"
              title="{{'Label, eg. Greek Schools missions' | translate}}"
              data-ng-required="1"/>
            <p ng-if="editForm.addLabel.$error.required && editForm.addTag.$dirty" translate>The label is required.</p>
          </td>
          <td><input name="addTag" class="form-control" data-ng-model="new_filter.query"
              placeholder="{{ 'Tag-term, eg. %term (no accents)' | translate | replace: '%term' : 'greek-schools' }}"
              title="{{'Tag-term format: lower-case letters, numbers, dashes, no spaces, no accents.' | translate}}"
              data-ng-required="1" data-ng-pattern="tags.pattern()" pattern="[a-z0-9\-]+" maxlength="32"/>

            <div role="alert">
              <div ng-switch="tags.formError('add')">
                <p ng-switch-when="duplicate-tag"><span translate>Sorry! I can't add a duplicate tag:</span> <code>{{new_filter.query}}</code></p>
                <p ng-switch-when="invalid-tag" translate>Sorry! The tag term is not valid — no spaces or accents allowed.</p>
                <p ng-switch-when="empty-tag" translate>Sorry! This tag term is empty.</p>
                <!--<p ng-switch-default translate>Sorry! Unknown error.</p>-->
              </div>
              <p ng-if="(editForm.addTag.$invalid || editForm.addTag.$error.required) && editForm.addTag.$dirty"
                translate>The tag term is not valid — no spaces or accents allowed. (Valid: <i>my-keyword</i>)</p>
            </div>
          </td>
          <td><button class="btn btn-default" type="submit" ng-disabled="editForm.$invalid" translate>Add</button></td>
      </tr>


      <tr data-ng-repeat="item in tags.data.filters" data-X-ng-init="idx = item._idx" data-ng-controller="AdminFiltersCtrl">
          <td title="ID: {{item.id}} &#13;Date: {{item.isoDate}}">
              <div data-ng-if="!form.isOpen()" data-ng-bind-html="item.label"></div>
              <div data-ng-if="form.isOpen()">
                  <input name="label" class="form-control" data-ng-model="form.values.label" data-ng-required="1"
                         title="{{'Label, eg. Greek Schools missions' | translate}}"
                         placeholder="{{'Label, eg. Greek Schools missions' | translate}}" />

                  <p role="alert" ng-if="editForm.label.$error.required" translate>The label is required.</p>
              </div>
          </td>
          <td>
              <div data-ng-if="!form.isOpen()" data-ng-bind="item.query"></div>
              <div data-ng-if="form.isOpen()">
                  <input name="tag" class="form-control" data-ng-model="form.values.query"
                         placeholder="{{ 'Tag-term, eg. %term (no accents)' | translate | replace: '%term' : 'greek-schools' }}"
                         title="{{'Tag-term format: lower-case letters, numbers, dashes, no spaces, no accents.' | translate}}"
                         data-ng-required="1" data-ng-pattern="tags.pattern()" pattern="[a-z0-9\-]+" maxlength="32"
                         translate-comment="Note that the term, eg. greek-schools should not be translated."/>
                  <div role="alert">
                    <div ng-switch="tags.formError('edit')">
                      <p ng-switch-when="duplicate-tag"><span translate>Sorry! I can't add a duplicate tag:</span> <code>{{form.values.query}}</code></p>
                      <p ng-switch-when="invalid-tag" translate>Sorry! The tag term is not valid — no spaces or accents allowed.</p>
                      <p ng-switch-when="empty-tag" translate>Sorry! This tag term is empty.</p>
                    </div>
                    <p ng-if="(editForm.tag.$invalid || editForm.tag.$error.required)"
                        translate>The tag term is not valid — no spaces or accents allowed. (Valid: <i>my-keyword</i>)</p>
                  </div>
              </div>
          </td>
          <td>
              <div class="btn-group" data-ng-if="!form.isOpen()">
                  <button class="btn btn-default btn-sm" ng-click="form.open()" translate>Edit</button>
                  <button class="btn btn-default btn-sm" ng-click="deleteFilter(item.id, item.query)"
                      data-confirm="{{'Are you sure you want to delete the <i>%s</i> tag?' | translate}}"
                      data-confirm_title="{{'Delete tag?' | translate}}" translate>Delete</button>
              </div>
              <div class="btn-group" data-ng-if="form.isOpen()">
                  <button class="btn btn-default btn-sm" ng-click="form.save()" type="submit" ng-disabled="editForm.tag.$invalid && editForm.label.$invalid"
                      translate>Save</button>
                  <button class="btn btn-default btn-sm" ng-click="form.cancel()" translate>Cancel</button>
              </div>
          </td>
      </tr>
      </tbody>
  </table>
</form>

</div>
