<table class="table table-striped">
    <thead>
    <tr>
        <th translate>Id</th>
        <th translate>Username</th>
        <th translate>email</th>
        <th translate>Administrator</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="user in admin.data.users">
        <td>{{user.id}}</td>
        <td><span siw-user-link="user"></span></td>
        <td>{{user.email}}</td>
        <td>
            <span data-ng-if="user.admin">
                <b translate>Yes</b>
                <button data-ng-if="user.id != status.profile.id" class="btn btn-default btn-xs" data-ng-click="actions.setAdmin(user.id, false)" translate>Remove permission</button>
            </span>
            <span data-ng-if="!user.admin">
                <translate>No</translate>
                <button class="btn btn-default btn-xs" data-ng-click="actions.setAdmin(user.id, true)" translate>Grant permission</button>
            </span>
        </td>
    </tr>

    </tbody>

</table>
