
<p id="admin-users-count"><span translate>Logged in users: </span>
    <i ng-bind="countClass('.is-logged-in')"></i>
    <button ng-click="scrollTo('.is-logged-in')" title="{{ 'Scroll to the first logged in user &darr;' | translate }}" translate>Goto logged in user &darr;</button>
    <button ng-click="scrollTo('#footer')" translate>Goto last user &darr;</button>
</p>


<table class="table table-striped admin-users-table">
    <thead>
    <tr>
        <th translate>Id</th>
        <th translate>Username</th>
        <th translate>email</th>
        <th translate>Administrator</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="user in admin.data.users" ng-class="{ 'is-logged-in': user.loggedIn }" title=
"Is logged in? {{user.loggedIn}} &#13;Password is set? {{user.passwordSet}}
Is admin? {{user.admin}} &#13;Date created: {{user.isoDate}}
Name: {{user.metadata.name}} &#13;Location: {{user.metadata.location}}">
        <td>{{user.id}}</td>
        <td><span siw-user-link="user"></span></td>
        <td>{{user.email}}</td>
        <td>
            <span data-ng-if="user.admin">
                <translate>Yes</translate>
                <button data-ng-if="user.id != status.profile.id" class="btn btn-default btn-xs" data-ng-click="actions.setAdmin(user.id, false)" translate>Remove permission</button>
            </span>
            <span data-ng-if="!user.admin">
                <translate>No</translate>
                <button class="btn btn-default btn-xs" data-ng-click="actions.setAdmin(user.id, true)" translate>Grant permission</button>
            </span>
        </td>
    </tr>

    </tbody>

</table>
