<form name="editForm" class="admin-page-projects">

<datalist id="filter-list">
    <option data-ng-repeat="(idx, tag) in tags.data.filters" value="{{tag.query}}">{{tag.label}}</option>
</datalist>

<table class="table table-striped">
    <thead>
    <tr>
        <th translate>Id</th>
        <th translate>Title</th>
        <th translate>Author</th>
        <th translate>Open?</th>
        <th translate>Featured?</th>
        <th class="col-filters" translate>Tags</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="(idx, project) in admin.data.projects" data-ng-controller="AdminProjectsItemCtrl" data-idx="{{idx}}">
      <!--{ http://stackoverflow.com/questions/14378401/dynamic-validation-and-name-in-a-form-with-angularjs }-->
      <ng-form name="innerForm">

        <td>{{project.id}}</td>
        <td>{{project.title}}</td>
        <td>{{project.author.username}}</td>
        <td>{{project.open ? 'Yes' : 'No' | translate}}</td>
        <td>
            <b>{{project.featured ? 'Yes' : 'No' | translate}}</b>
            <button class="btn btn-default btn-xs"
                    data-ng-click="actions.toggleFeatured(project)">
                {{project.featured ? 'Unfeature' : 'Feature project' | translate}}
            </button>
        </td>
        <td>
          <div data-ng-if="!form.isOpen()">
            {{project.filters}}
            <button class="btn btn-default btn-xs" data-ng-click="form.open()" data-ng-XX-click="actions.filters(project)" translate>Edit tags</button>
          </div>
          <div data-ng-if="form.isOpen()">
            <input name="tag" class="form-control filters" ng-XX-model="form.values[idx].filters" ng-model="project.filters"
                   list="filter-list" ng-XX-required="1" ng-pattern="tags.patternMulti()"
                   pattern="^[a-z0-9\-]+(?:, ?[a-z0-9\-]*)*$" maxlength="128"
                   placeholder="{{'Comma separated tags (no accents)' | translate}}"
                   title="{{'Format: letters, numbers, dashes, commas, no accents.' | translate}}"/>

            <button class="btn btn-default btn-sm" data-ng-click="form.save()" type="submit"
                   ng-disabled="(editForm.tag.$invalid || editForm.tag.$error.required)" translate>Save</button>
            <button class="btn btn-default btn-sm" data-ng-click="form.cancel()" translate>Cancel</button>

            <p ng-if="(editForm.tag.$invalid || editForm.tag.$error.required)"
                translate>The tag term is not valid — no spaces or accents allowed.</p>
          </div>
        </td>

      </ng-form>
    </tr>

    </tbody>
</table>

</form>
