<table class="table table-striped">
    <thead>
    <tr>
        <th translate>Id</th>
        <th translate>Title</th>
        <th translate>Author</th>
        <th translate>Open?</th>
        <th translate>Featured?</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="project in admin.data.projects">
        <td>{{project.id}}</td>
        <td>{{project.title}}</td>
        <td>{{project.author.username}}</td>
        <td>{{project.open ? 'Yes' : 'No'}}</td>
        <td>
            <b>{{project.featured ? 'Yes' : 'No'}}</b>
            <button class="btn btn-default btn-xs"
                    data-ng-click="actions.toggleFeatured(project)">
                {{project.featured ? 'Unfeature' : 'Feature project'}}
            </button>
        </td>
    </tr>

    </tbody>

</table>
