<div data-ng-if="adminAccess()" class="admin-page">
    <div class="admin-header">
        <span data-siw-menu-item data-menu-linked-state="'admin.users'" data-menu-label="{{'Users'|translate}}"></span>
        <span data-siw-menu-item data-menu-linked-state="'admin.projects'" data-menu-label="{{'Projects'|translate}}"></span>
        <span data-siw-menu-item data-menu-linked-state="'admin.texts'" data-menu-label="{{'Texts'|translate}}"></span>
        <span data-siw-menu-item data-menu-linked-state="'admin.reported'" data-menu-label="{{'Reported content'|translate}}"></span>
    </div>

    <div class="admin-content" data-ui-view></div>
</div>

<div data-ng-if="!adminAccess()" class="admin-page">
    <p translate>Sorry, you need administrator access to view this page.</p>
</div>
