<div data-ng-if="adminAccess()" class="admin-page">
    <div class="admin-header" role="navigation" aria-label="{{'Admin menu' | translate}}">
        <span data-siw-menu-item data-menu-linked-state="'admin.users'" data-menu-label="{{'Users'|translate}}"></span>
        <span data-siw-menu-item data-menu-linked-state="'admin.projects'" data-menu-label="{{'Projects'|translate}}"></span>
        <span data-siw-menu-item data-menu-linked-state="'admin.filters'" data-menu-label="{{'Tags'|translate}}"
            title="{{'Tag-based filters' | translate}}" data-ng-if="cfg.custom_filters_admin"></span>
        <span data-siw-menu-item data-menu-linked-state="'admin.texts'" data-menu-label="{{'Texts'|translate}}"></span>
        <span data-siw-menu-item data-menu-linked-state="'admin.reported'" data-menu-label="{{'Reported content'|translate}}"></span>
    </div>

    <div class="admin-content" data-ui-view></div>

    <p class="version-info" id="version">nQuire-it: <a ng-href="{{version.url}}" ng-bind="version.describe"
       title="Version: {{version.describe}}&#13;Commit date: {{version.date}}&#13;{{version.message}}"></a>
    </p>
</div>

<div data-ng-if="!adminAccess()" class="admin-page warn http-401 error-unauthorized">
    <p translate>Sorry, you need administrator access to view this page.</p>
</div>
