<div data-ng-controller="ProjectViewSpotItMapCtrl">
    <p class="sortable-menu">
        <b>Sort by: </b>
        <a href data-ng-class="sortableClass('author')" data-ng-click="sort('author')" translate>Author</a>
        <a href data-ng-class="sortableClass('date')" data-ng-click="sort('date')" translate>Date</a>
        <a href data-ng-class="sortableClass('votes')" data-ng-click="sort('votes')" translate>Votes</a>
    </p>

    <form class="form-inline">
        <div class="form-group">
            <label><translate>Show value:</translate>
                <select class="form-control" data-ng-model="mapData.textKey"
                        data-ng-options="obj.value as obj.label for obj in showOptions"></select>
            </label>
        </div>
    </form>

    <p class="btn-group" data-ng-if="sortedData.data.length > 0">
        <button class="btn btn-default" data-ng-click="goto.first()" title="{{'Go to first' | translate}}">
            <i class="fa fa-fast-backward"></i>
        </button>
        <button class="btn btn-default" data-ng-click="goto.previous()" title="{{'Previous' | translate}}">
            <i class="fa fa-arrow-left"></i>
        </button>
        <button class="btn btn-default" data-ui-sref="project.view.data-list" data-ng-disabled="true">
            <span data-ng-if="mapData.selectedIndex >= 0">{{mapData.selectedIndex + 1}} / </span>
            {{sortedData.data.length}}
        </button>
        <button class="btn btn-default" data-ng-click="goto.next()" title="{{'Next' | translate}}">
            <i class="fa fa-arrow-right"></i>
        </button>
        <button class="btn btn-default" data-ng-click="goto.last()" title="{{'Go to last' | translate}}">
            <i class="fa fa-fast-forward"></i>
        </button>
    </p>
    <div data-siw-map data-map-zoom-to="zoomToItem"></div>

</div>
