<div class="project-section-header" data-ng-include="'partials/project/blocks/project-menu.html'"></div>

<div class="project-section-content">

    <div class="project-section-description-column">
        <div data-ng-include="'partials/project/blocks/project-metadata.html'"></div>
    </div>

    <div class="project-section-content-column">



        <p class="project-section-content-header" translate>Stage selection</p>

        <div class="btn-group">
            <button class="btn" data-ng-class="stageButtonClass('proposal')" data-ng-click="setStage('proposal')" translate>Proposal stage </button>
            <button class="btn" data-ng-class="stageButtonClass('voting')" data-ng-click="setStage('voting')" translate>Voting stage</button>
            <button class="btn" data-ng-class="stageButtonClass('outcome')" data-ng-click="setStage('outcome')" translate>Outcome stage</button>
        </div>

        <p class="project-section-content-header" translate>Ideas visibility</p>
        <p translate>Select whether ideas are visible during the proposal stage.</p>
        <p translate>(Ideas are always visible during voting and outcome.)</p>

        <div class="btn-group">
            <button class="btn" data-ng-class="visibilityClass(false)" data-ng-click="setVisibility(false)" translate>No</button>
            <button class="btn" data-ng-class="visibilityClass(true)" data-ng-click="setVisibility(true)" translate>Yes</button>
        </div>

        <div data-ng-include="'partials/project/view/challenge/project-view-challenge-outcome.html'"></div>

    </div>
</div>
