@import '../variables/colors';

.btn-file {
  position: relative;
  overflow: hidden;

  //Was: input[ type = file ] {}
  [ type = file ] {
    background: $color-lighter-background;
    cursor: inherit;
    display: block;
    filter: alpha(opacity = 0);
    font-size: 999px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }
}
