#
# Rewrite rules to allow for language codes in URLs (i18n).
# Example:   http://nquire-it.org/el#/create
#


Options  +FollowSymlinks


# Note, the rewrite rules need to be in ".htaccess".
# When I tried them in "httpd/*/*_nquire.conf" the ENV variables (REQUEST_FILENAME) weren't available.


# BEGIN WordPress
<IfModule mod_rewrite.c>
    RewriteEngine  On
    #RewriteBase  /
    ###RewriteRule ^index\.php$ - [L]
    RewriteRule  ^index\.html - [L]
    RewriteCond  %{REQUEST_FILENAME} !-f
    RewriteCond  %{REQUEST_FILENAME} !-d
    RewriteCond  %{REQUEST_URI}  !.*\.(jpe?g|png|css|js)
    ###RewriteRule . /index.php [L]
    RewriteRule  . /index.html [L]
</IfModule>
# END WordPress
