<div class="project-section-description-image">
    <img data-ng-src="{{projectData.project.metadata.image | uploadedImage:'media/image_default.png'}}"
         src=""/>
</div>
<div class="project-section-description-text">
    <p class="project-section-description-text-title" role="heading" aria-level="1" translate><span class="project-section-description-text-mission">Mission:</span> {{projectData.project.title}}</p>
    <p class="project-section-description-tags" data-ng-if="tags.data.projectTags">
      <span translate>Tags:</span>
      <a data-ng-repeat="(tag, label) in tags.data.projectTags"
        data-ui-sref="home({type: projectListFilter.type, status: projectListFilter.status, filter: tag})" data-ng-bind-html="label"></a>
    </p>

    <div class="project-section-description-text-author">
                        <span class="project-section-description-text-author-image" data-siw-user-image
                              data-user="projectData.project.author"></span>

        <div class="project-section-description-text-author-name">
            <div translate>Mission created by <span siw-user-link="projectData.project.author"></span>.</div>
        </div>
    </div>

    <div data-ng-if="templates.projectData" class="project-description-data"
         data-ng-include="templates.projectData">
    </div>


</div>
